.header {
  position: fixed;
  width: 100%;
  height: 250px;
  font-weight: bold;
  text-align: center;
  left: 0px;
  background: gold;
  transition: .3s;
  &.small {
    height: 70px;
    box-shadow: 0 0 5px rgba(black, .2);
    & ~ .offset {
      padding-top: 140px;
    }
    .header_logo {
      padding-top: 20px;
      font-size: 20px;
      margin: 0px;
      text-shadow: none;
    }
  }
}
.header_logo {
  margin: 0;
  padding-top: 80px;
  font-size: 50px;
  text-shadow: 3px 4px rgba(black, .1);
  transition: .3s;
}