.body-container{
	display: flex;
	flex-direction: column;
	height: 500px;
	display: flex;
    align-items: center;
	.app-header{
	}
	.inner-container{
		max-width: 800px;
		margin-top: 250px;
		display: flex;
		justify-content: space-between;
		.left-bar{
			min-width: 250px;
		}
		.right-container{
			width: calc(100% - 250px);
		}
	}
	.app-header .header.small ~ .inner-container{height: 70px;}
}